/* ---------- HEADER -------------*/

.header {
  display: flex;
   justify-content: space-between;
  margin: auto;
  background-image: url("/images/banniere.webp");
  background-repeat: no-repeat;
 background-position: 60%;
  block-size: 350px;
}
.navbar{
  display: flex;
  align-items: center;
 position: relative;
 right: 10%;
 top:  90%;
  background-color: var(--color_secondary);
  padding: 30px;
  text-align: center;
  height: 2%;

/*------- Ombre de la Navbar header---------- */
-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 16px 16px 14px 22px rgba(0,0,0,0.02); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 16px 16px 14px 22px rgba(0,0,0,0.02);
 
}
.link__navbar{
  color: white;
  margin: 10px;
  padding: 10px ;
  text-decoration: none;
  font-size: 18px;
}
.link__navbar:hover{
  color: var(--color_secondary);
  background-color: white;
}
.link__navbar:focus{
  color: var(--color_violet);
}
/* ---------- HOME ------------ */
.navhome{
  text-align: center;
  margin: 30px;
}
.link__navhome{
  font-size: 20px;
  padding: 20px;
  margin: 50px;
  text-decoration: none;
  color: var(--color_secondary);
}
.histoire__art{
  display: flex;
  align-items: center;
}
/* ---------- FOOTER ------------ */
.footer{
  background-color: var( --bg_footer);
}
.footer__div{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.link{
  margin: 30px;
  text-decoration: none;
  color: #000000;
}
.link:hover{
  color: var(--color_secondary);
}
.footer__adresse{
margin-right: 15px;
}
.copy{
  text-align: center;
}